body {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    margin: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    /* color: #5c616c; */
}

* {
    letter-spacing: .5;
    font-weight: lighter;
}

.content {
    padding: 2rem;
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    height: 3rem;
    background: white;
    transform: translate(0, -100%);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
}

.header.show {
    transform: translate(0, 0);
    transition: all .5s .6s;
    align-items: center;
}

.h-box {
    display: flex;
    padding: .5rem 1rem;
}

.h-spacer {
    display: flex;
    flex-grow: 1;
}

.horizontal-flex {
    display: flex;
    flex-grow: 1;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .0);
    transform: scale(.8);
    border-radius: 10px;
}

.horizontal-flex>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.horizontal-flex>div>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-side {
    position: relative;
}

.teacher-code-window {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.teacher-code-toggle {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    left: 0;
    top: -16;
    right: 0;
    height: 14px;
    font-size: 10;
    text-align: center;
    color: #b0b0b0;
    font-family: monospace;
    transition: color .4s;
}

.teacher-code-toggle:hover {
    color: #161821;
    transition: color .4s;
}

.teacher-code-window.hidden {
    display: none;
}

.other-code-area, .other-bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.other-code {
    margin-top: 10px;
    display: flex;
    flex: 1;
    position: relative;
}

.other-bottom {
    position: relative;
    margin-bottom: 10px;
}

.other-console, .other-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.other-console.hide, .other-canvas.hide {
    display: none;
}

.other-switch {
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10;
    background-color: #161821;
    color: #fafafa;
    font-size: 10;
    height: 12px;
    font-family: monospace;
    border-radius: 0px 0px 10px 0px;
    transition: background-color .4s;
}

.other-switch:hover {
    background-color: #34363f;
    transition: background-color .4s;
}

#canvas-wrapper {
    overflow: hidden;
    padding-right: 10px;
}

#code {
    background-color: #f5f5f5;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid #eeeeee;
}

#code::after {
    content: attr(after-content);
    font-size: 10;
    height: 14px;
    text-align: right;
    margin-top: -14px;
    margin-right: 10px;
    color: #b0b0b0;
    font-family: monospace;
}

#inner-code {
    margin-top: 10px;
    margin-bottom: 12px;
    position: relative;
}

#console {
    background-color: #161821;
    border-radius: 0px 0px 10px 0px;
}

#console::after {
    content: ' >_ \a0 javascript console';
    font-size: 10;
    height: 14px;
    text-align: right;
    margin-top: -14px;
    margin-right: 10px;
    color: #fafafa;
    font-family: monospace;
}

#inner-console {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    flex: 1;
}

#canvas-title {
    font-size: 10;
    height: 14px;
    text-align: right;
    /* margin-bottom: -14px; */
    margin-right: 10px;
    color: #b0b0b0;
    font-family: monospace;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    transition: color .4s;
}

#canvas-title:hover {
    color: #161821;
    transition: color .4s;
}

#canvas-title::before {
    content: attr(canvas-label);
    position: absolute;
    left: 3;
}

.other-code-label {
    font-size: 10;
    height: 14px;
    text-align: right;
    margin-bottom: -14px;
    padding-right: 10px;
    border-radius: 0px 10px 0px 0px;
    background-color: whitesmoke;
    color: #b0b0b0;
    font-family: monospace;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}

.popup-parent {
    position: relative;
    height: 0px;
    margin-left: auto;
}

.code-snippet {
    font-family: monospace;
    background-color: #f5f5f5;
    color: #202020;
    border-radius: 4px;
    padding: 2px 6px;
}

strong {
    font-weight: bolder;
}

#canvas-help {
    line-height: 120%;
    background-color: white;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 10px;
    top: 20;
    right: -500;
    width: 381px;
    height: 191px;
    z-index: 2;
    transition: all .5s;
}

#canvas-help>div {
    position: relative;
    padding: 10px;
}

.canvas-help-close {
    position: absolute;
    top: 10;
    right: 10;
    background-color: #d4d4d4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

#canvas-help.show {
    right: 20;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
    transition: all .5s;
}

main {
    position: absolute;
    bottom: 0;
    top: 3rem;
    display: flex;
    justify-content: center;
    width: 300%;
    flex-grow: 1;
}

canvas {
    width: 100%;
    height: 100%;
}

.other-canvas-obj {
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
}

.wrapper {
    display: flex;
    flex: 1 1 0px;
}

.higher {
    margin-bottom: 100px;
}

.narrow {
    width: 9.29em;
}

.box {
    background: white;
    padding: 1.25rem;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.box-flat {
    background: #fafafa;
    padding: 1.25rem;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .0);
    transform: scale(.8);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.flat {
    background: #fafafa;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0);
    transform: scale(.8);
    transition: all .5s 0s;
}

.unflat {
    background: white;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
    transform: scale(1);
    transition: all .5s 1.2s;
}

.unflat-strong {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .125);
    transform: scale(1);
    transition: all .5s 1.2s;
}

.hide-left {
    transform: translate(-100%);
    transition: all .8s .6s;
}

.hide-left-double {
    transform: translate(-200%);
    transition: all .8s .6s;
}

.button {
    width: fit-content;
    border-radius: 4px;
    padding: .65rem 1.5rem;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .1);
    /*background: rgb(30, 31, 43);*/
    background: #282a3a;
    /*rgb(40, 42, 58); */
    color: #fafafa;
    font-size: larger;
    font-weight: lighter;
    outline: none;
    border: 0px solid;
    cursor: pointer;
    transition: background .25s;
}

.button:hover {
    background: rgb(51, 53, 71);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0rem;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(40, 42, 58);
}

.divider::before {
    margin-right: .25em;
}

.divider::after {
    margin-left: .25em;
}

h3 {
    align-self: center;
    margin-top: 0px;
    margin-bottom: .5rem;
    font-size: 30;
    font-weight: lighter;
}

.student-area {
    height: 0;
    width: 100%;
    
}

.student-area-sizer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.student {
    height: 65vh;
    width: calc(50% - 5px);
    margin: 5px 0px;
}

.student-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
}
.student-title {
    display: flex;
    height: 2rem;
}
.student-code {
    display: flex;
    flex-grow: 1.5;
}
.student-canvas {
    display: flex;
    flex-grow: 1;
}
.student-console {
    display: flex;
    flex-grow: .75;
}

input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: inset 0 5px 30px 0 rgba(0, 0, 0, .05);
}

input[type=text] {
    font-size: larger;
    font-weight: lighter;
    min-width: 70px;
}

.error {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97), error 2s;
}

@keyframes shake {
    10% {
        transform: translate3d(-1px, 0, 0);
    }
    35% {
        transform: translate3d(2px, 0, 0);
    }
    65% {
        transform: translate3d(-2px, 0, 0);
    }
    90% {
        transform: translate3d(1px, 0, 0);
    }
}

@keyframes error {
    0% {
        border: 1px solid red;
    }
    70% {
        border: 1px solid red;
    }
    100% {
        border: 1px solid rgba(0, 0, 0, 0);
    }
}